{% extends 'game/main.html' %}
{% load widget_tweaks %}

{% block title %}Pridaj barový účet{% endblock %}

{% block style %}
    {{ block.super }}
    #id_person {
        overflow: hidden;
    }
    #add-bar-purchase-btn {
        width: 100%;
    }
{% endblock %}

{% block content %}
<h1>Pridaj barový účet</h1>

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<form id="add_rations_form" method="post" action="/game/add_bar_purchase/">
    {% csrf_token %}
    <div class="row">
        <div class="col col-md-6">
            <div class="form-group">
                <label for="id_person">Ľudia</label>
                <select class="form-control" id="id_person" name="person" size={{ form.person | length }}>
                    {% for person in form.person %}
                        <option
                            value="{{ person.data.value }}"
                            {% if person.data.attrs.selected %}selected{% endif %}
                        >{{ person.data.label }}</option>
                    {% endfor %}
                <select>
            </div>
            {% if form.person.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.person.errors }}
                </div>
            {% endif %}
        </div>
        <div class="col col-md-6">
            <div class="form-group">
                <label for="id_value">Účet</label>
                {{ form.value | add_class:"form-control" }}
            </div>
            {% if form.value.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.value.errors }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button type="submit" class="btn btn-success btn-lg" id="add-bar-purchase-btn">Pridaj</button>
        </div>
    </div>
</form>
{% endblock %}
