{% extends 'game/main.html' %}

{% block title %}Dávky{% endblock %}
{% block head %}
<meta http-equiv="refresh" content="30">
{% endblock %}

{% block content %}
    {% if error is not None %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        <h3>Dávky</h3>
        <table class="table table-condensed table-bordered">
            <thead>
                <th>Meno</th>
                <th class="text-center">Dávky</th>
            </thead>
            <tbody>
                {% for ration_person in ration_people %}
                    <tr>
                        <td>{{ ration_person.person__name }}</td>
                        <td class="text-center"><b>{{ ration_person.sum }}</b></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
